/**
 * Form elements.
 */

@import "../variables";

form {
  margin: 0;
  padding: 0;
}

fieldset {
  border-color: $form-border;
}

fieldset:not(.fieldgroup) {
  @include paper-box-shadow($form-border);
  border-radius: $border-radius;
  margin: 1em 0;
  padding: 30px 18px 18px;
  min-width: 0;
  position: relative;
}

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */

@-moz-document url-prefix() {
  fieldset:not(.fieldgroup) {
    display: table-cell;
  }
}

fieldset:not(.fieldgroup)>legend {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.08em;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
}

.fieldgroup {
  min-width: 0;
}

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */

@-moz-document url-prefix() {
  .fieldgroup {
    display: table-cell;
  }
}

.form-item {
  margin: 0.75em 0;
}

.form-type-checkbox {
  padding: 0;
}

.form-composite>legend,
.label {
  font-weight: bold;
}

label {
  display: table;
  margin: 0 0 0.1em;
  padding: 0;
  font-weight: bold;
  &[for] {
    cursor: pointer;
  }
  &.error {
    color: $color-error;
  }
  &.option {
    font-weight: normal;
  }
}

.form-disabled {
  label {
    color: $color-disabled;
  }
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea,
  select.form-select {
    background-color: $bg-disabled;
    border-color: $border-color-disabled;
    color: $color-disabled;
    opacity: $opacity-disabled;
  }
}

.form-item {
  label.option {
    text-transform: none;

    input {
      vertical-align: middle;
    }
  }

  input.error,
  textarea.error,
  select.error {
    border-width: 1px;
    border-color: $color-error-border;
    background-color: $color-error;
    box-shadow: inset 0 5px 5px -5px $color-error-border;
    color: $color-error-fg;
    &:focus {
      border-color: $color-error-border;
      outline: 0;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px 1px #e62600;
      background-color: $color-error;
    }
  }
  textarea.error+.cke {
    border-width: 1px;
    border-color: $color-error-border;
  }
}

.form-required:after {
  background-size: 7px 7px;
  width: 7px;
  height: 7px;
}

.form-item--error-message {
  margin-top: 0.15em;
  color: #e32700;
}

.fieldset-wrapper>.form-item--error-message {
  margin-top: 0;
}

.text-format-wrapper .form-item--error-message {
  border: solid #ccc;
  border-width: 0 1px;
  margin: 0;
  padding: 0.25em 0.666em 0;
}


/* Filter */

ul.tips,
div.description,
.form-item .description {
  color: $color-mute;
  font-size: 0.85em;
  margin: 0.2em 0 0 0;
  @include media-breakpoint-up(md) {
    opacity: 0.2;
  }
}

.form-item .description.error {
  color: $color-error-fg;
  margin-top: 0;
}

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
  [dir="rtl"] & {
    margin: 0.25em 1.5em 0.25em 0;
  }
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.5em;
  /* LTR */
  [dir="rtl"] & {
    margin-left: 0;
    margin-right: 1.5em;
  }
}

.form-text,
.form-textarea {
  border-radius: $border-radius;
  font-size: 1em;
  line-height: normal;
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  background: #fff;
  border: 1px solid $form-border;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: #333;
  font-size: 1em;
  max-width: 100%;
  padding: 6px 12px;
  /* LTR */
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

@include media-breakpoint-up(md) {
  .form-item:hover,
  .form-item:focus {
    .description {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus,
.form-textarea:focus {
  border-color: $form-border-focus;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px $form-border-focus;
  background-color: #fff;

  @include media-breakpoint-up(md) {
    ~.description {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
}

@include media-breakpoint-up(md) {
  ul.tips,
  div.description {
    opacity: 1;
    transition: opacity 0.1s linear;
  }
  .form-text:hover,
  .form-tel:hover,
  .form-email:hover,
  .form-url:hover,
  .form-search:hover,
  .form-number:hover,
  .form-color:hover,
  .form-file:hover,
  .form-textarea:hover,
  .form-date:hover,
  .form-time:hover,
  .form-textarea:hover {
    ~.description {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
  .form-select,
  .form-radio,
  .form-radios,
  .form-checkbox,
  .form-checkboxes {
    ~.description {
      opacity: 0.2;
    }
  }
  .form-select:hover,
  .form-radio:hover,
  .form-radios:hover,
  .form-checkbox:hover,
  .form-checkboxes:hover,
  .form-select:focus,
  .form-radio:focus,
  .form-radios:focus,
  .form-checkbox:focus,
  .form-checkboxes:focus {
    ~.description {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
}

.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto;
}

.form-item-options-group-info-identifier,
.form-item-pass .description {
  clear: both;
}

/**
 * Limits extra long instances of select elements to the max width allowed
 * to avoid breaking layouts.
 */

select {
  max-width: 100%;
}

/**
 * Select elements - Webkit only
 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border: 1px solid $form-border;
    border-radius: $border-radius;
    background: url(/core/misc/icons/333333/caret-down.svg) no-repeat 99% 63%;
    /* LTR */
    cursor: pointer;
    padding: 6px 1.5em 6px 12px;
    /* LTR */
    font-size: 14px;
    font-size: 1.4rem;
    transition: all 0.1s;
  }
  [dir="rtl"] select {
    background-position: 1% 63%, 0 0;
  }
  select:focus,
  select:hover {
    background-image: url(/core/misc/icons/333333/caret-down.svg);
    color: #1a1a1a;
    outline: 0;
  }
  select:focus {
    border-color: $form-border-focus;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px $form-border-focus;
  }
  select:hover {
    border-color: $form-border-hover;
  }
}

/**
 * Improve spacing of cancel link.
 */

#edit-cancel {
  margin-left: 10px;
  /* LTR */
}

[dir="rtl"] #edit-cancel {
  margin-left: 0;
  margin-right: 10px;
}

/**
 * Improve form element usability on narrow devices.
 */

@media screen and (max-width: 600px) {
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    font-size: 1.2em;
    width: 100%;
    line-height: 1.2em;
  }
  input.form-number {
    width: auto;
  }
  .form-actions input,
  .form-wrapper input[type="submit"] {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    width: 100%;
  }
  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-top: 0;
  }
  details summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .password-strength {
    width: 100%;
  }
  div.form-item div.password-suggestions {
    float: none;
  }
  #dblog-filter-form .form-actions {
    float: none;
    padding: 0;
  }
  #edit-cancel {
    display: block;
    margin: 10px 0 0 0;
  }
  select {
    width: 100%;
  }
}

/* Exceptions */

#diff-inline-form select,
div.filter-options select {
  padding: 0;
}
