.item-list ul{list-style-type:disc;list-style-image:none;margin:0.25em 0}.item-list ul li,.menu-item{list-style-type:disc;list-style-image:none}.menu-item{margin:0}.item-list ul li.collapsed,.menu-item--collapsed{list-style-image:url(/core/misc/menu-collapsed.png);list-style-type:disc}.item-list ul li.expanded,.menu-item--expanded{list-style-image:url(/core/misc/menu-expanded.png);list-style-type:circle}ul.links li,ul.inline li{padding-right:1em}[dir="rtl"] ul.links li,[dir="rtl"] ul.inline li{padding-left:1em;padding-right:0}ul.inline li{display:inline-block}
