/**
 * Generic elements.
 */

@import "../variables";

html {
  font-size: 62.5%;
}

body {
  color: #333;
  background-color: $bg-body;
  font-family: $font-family-base;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  padding-bottom: 2em;
  -webkit-font-smoothing: antialiased;
}

a,
.link {
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: 0;
  }
}

hr {
  margin: 1.25em 0 .75em;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

summary,
.fieldgroup:not(.form-composite)>legend {
  font-weight: bold;
  text-transform: uppercase;
}

.simpletest-results-form summary {
  text-transform: none;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */

h1,
.heading-a {
  font-family: $font-family-header;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: normal;
  margin: 10px 0;
}

h2,
.heading-b {
  font-family: $font-family-header;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  margin: 10px 0;
}

h3,
.heading-c {
  font-family: $font-family-header;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 10px 0;
}

h4,
.heading-d {
  font-family: $font-family-header;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 10px 0;
}

h5,
.heading-e {
  font-family: $font-family-header;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 10px 0;
}

h6,
.heading-f {
  font-family: $font-family-header;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 10px 0;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 1em 0;
}

dl {
  margin: 0 0 20px;
}

dl dd,
dl dl {
  margin-left: 20px;
  /* LTR */
  margin-bottom: 10px;

  [dir="rtl"] & {
    margin-right: 20px;
  }
}

blockquote {
  margin: 1em 40px;
}

address {
  font-style: italic;
}

u,
ins {
  text-decoration: underline;
}

s,
strike,
del {
  text-decoration: line-through;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

abbr,
acronym {
  border-bottom: dotted 1px;
}

ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 0;
  /* LTR */
  [dir="rtl"] & {
    margin-left: 0;
  }
}

/* This is required to win over specificity of [dir="rtl"] ul */

[dir="rtl"] .messages__list {
  margin-right: 0;
}

ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 0;
  /* LTR */
  padding: 0;

  [dir="rtl"] & {
    margin-left: 0;
  }
}

quote,
code {
  margin: .5em 0;
}

pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

img {
  @include paper-box-shadow-raised($gray-600);
}
